<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amazing app to help you find the nearest MBTA station</title>
</head>
<body>
    <h1>MBTA Helper</h1>
    <form method="POST" name="">
        {% if error %}
        <p style="color:red">The place you entered does not exist.</p>
        {% endif %}
        <p>
        Please enter your current location:
        </p>
        <p> 
        <input type="text" size="4" name="location" />
        </p>
        <p>
        <input type="submit" value="Submit" />
        </p>
    </form>
    </body>
</html>
